/* Use your own code or past solution for Great Idea Web Page CSS here! */

/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}


/* top home

Desktop view
*/

.content {
    background:white;
    margin: 35px;
}
header{
    width:100%;
    display: flex;

}

header nav{
    
    width: 100%;
    justify-content: space-between;
    display:flex;
    margin-top: 35px;
    }

header nav a{
    text-decoration: none;
    color:black;
}
header #logo{
margin:28px 0 0 100px;
}
#bannerSection {
	height: 480px;
	border-bottom: 2px solid black;
	margin: 40px 0px 0px 0px;
	display: flex;
	/* justify-content: space-between;  for desktop view*/
	align-items: center;
}
#taglineBox {
	display: flex;
	flex-flow: column wrap;
	text-align: center;
	justify-content: center;
	align-items: center;	
	width: 500px;
	height: 480px;
}

#tagline {
	font-size: 60px;
}

#getStarted {
	height: 30px;
	width: 150px;
	color: white;
	font-size: 14px;
	border: 1px solid black;
	padding: 5px;
	text-decoration: none;
	background-color: lightcoral;
    animation-name: example;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;}

#upperSection{
     display: flex;
        flex-flow: row wrap;
        align-items: space-between;
        margin: 30px 0px 30px 0px;
    }


#features, #about {
    width: 440px;
    padding-bottom: 30px;
}
#lowerSection{
    align-items: space-between;
    display: flex;
    flex-flow: row wrap;
    margin: 30px 0px 30px 0px

}
#services, #product, #vision{
    width: 293px;
}

/*tablet view*/
@media(max-width: 800px){
	.content{
        background: white;
	}
	header{
        width:100%;
        display: flex;	
        flex-direction: column-reverse;
    }
    header nav{
    width: 100%;
    justify-content: space-between;
    display:flex;
    margin-top: 35px;
    }
    header #logo {
        width:100%;
		display: flex;
        height: 65px;
        margin:0px 0 0 0px;
        justify-content: ;
		align-items: center;
    }
    


	#bannerSection #headerImage{
		display:none;
	}
	#bannerSection{
		justify-content:center;
	}
	


    


}


/*mobile view*/



@media(max-width: 500px){
	.content{
		width: 500px;
        background:yellow;
    }
        header{
            width: 500px;
        }
        header #headerImage{
            display:none;
        }
        #bannerSection{
            justify-content:center;
        }
        #navbar, #logo {
            display: flex;
            height: 65px;
            justify-content: space-around;
            align-items: center;
        }
        #upperSection{
            display:flex;
            flex-flow: row nowrap;
            margin: 30px 0px 30px 0px;
            padding-bottom: 10px;
        }
        #features, #about{
            padding-bottom: 30px;
            width: 498px;
        }
        
        #lowerSection {
            display: flex;
            flex-flow: row wrap;
            margin: 30px 0px 30px 0px;
        }
        
        #services, #product, #vision {
            width: 498px;
            padding-bottom: 30px;

        }
	
}


/*
#lowerSection {
	display: flex;
	flex-flow: row wrap;
	align-items: space-between;
	margin: 30px 0px 30px 0px;
}

#services {
	width: 290px;
}

#product {
	width: 290px;
}

#vision {
	width: 290px;
}
*/

#address {
	border-top: 2px solid black;
	width: 290;
	padding: 40px 0px 0px 0px;
}

#footer {
	text-align: center;
	margin: 28px 0px;
    font-size: 14px;
    padding-bottom: 40px;
}











/* services css 

#aboutServices {
	padding: 46px 0px;
	margin-bottom: 46px;
	border-bottom: 1px solid black;
}

#servicesHeading {
	font-size: 32px;
}

.rowParent {
	display: flex;
	justify-content: space-between;
	margin-bottom: 46px;
}

.rowChild {
	background-color: gainsboro;
	padding: 20px;
	width: 416px;
	border: 1px solid black;
	display: flex;
	flex-flow: column nowrap;
}

.learnMore {
	background-color: white;
	font-family: Arial;
	color: black;
	font-size: 10px;
	text-align: center;
	text-decoration: none;
	border: 1px solid black;
	border-radius: 4px;
	padding: 10px;
	margin-top: 15px;
	width: 150px;
}

#bottomSection {
	border-top: 2px solid black;
	display: flex;
	width: 880px;
	justify-content: space-between;
	padding: 46px 0px;
}

#facts {
	width: 410px;
}

#things {
	list-style-type: square;
	list-style-position: inside;
	margin-top: 15px;
	line-height: 35px;
}


*/